.form-control {
padding:1px; 
height:24px;
width:40px; 
margin-left:10px; 
margin-right:10px; 
text-align:center;
}

.col-form-label {
padding-top: 1px;
padding-bottom: 1px;
height:24px;
}

label {
margin-bottom:1rem;
}


.reveal-if-active {
  opacity: 0.5;
  max-height: 100px;
  overflow: hidden;
/*  transform: scale(0.8);
  transition: 0.5s;
/*input[type="radio"]:checked ~ &, */

  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
/*    transform: scale(1); */
  }
}
