.form-control {
padding:1px; 
height:24px;
width:40px; 
margin-left:10px; 
margin-right:10px; 
text-align:center;
}

.col-form-label {
padding-top: 1px;
padding-bottom: 1px;
height:24px;
}

label {
margin-bottom:1rem;
}

/*Paragraph table header colours*/
.table .thead-dark th {
color: #fff;
background-color: #64f99e;
border-color: #64f99e;
}

.table .thead-light th {
color: #fff;
background-color: #007d32;
border-color: #007d32;
}
